#webcoderskull{
    position: absolute;
    left: 0;
    padding: 0 20px;
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }
  #webcoderskull1{
    position: absolute;
    left: 0;
    padding: 0 20px;
    width: 100%;
    text-align: center;
    margin-top: 20%;

  }
  canvas{
    height:100%;
    background-color:var(--backgroundcolour);
  }
  #webcoderskull h1{
  letter-spacing: 5px;
  font-size: 5rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #5E81AC;
  }
  
  #particles-js{
    position: relative;
  }
  
  #instext{
    color: #ffffff;
    font-weight: bold;
    font-size: 3em;
  }
  
  .fa {
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  
  .fa-discord {
    background:transparent;
    color: white;
    margin-right: 30px;
  }
  
  
  .fa-instagram {
    background: transparent;
    color: white;
  } 

  .card{
      background-color: var(--first);
  }

  .fa{
      color: white;
  }

  .fa:hover{
      color: var(--backgroundcolour);
      transition: all 0.3s;
      text-decoration: none;
  }